/** @format */

$bglinear: linear-gradient(180deg, #282828 110%, #0c0c0c 100%);
$footerbg: #131313;
$menu-icon-color: #ffffff;
$bodybg: rgb(28, 28, 28);

// Font -color
$text-white: rgba(255, 255, 255, 255);
$theme-color: #ff0024;
$darkColor: #131313;

// Font family
$font1: "Roboto", sans-serif;
$font2: "Montserrat", sans-serif;
